.main-con{
    display: flex;
    flex-direction: column;
    align-items: center;
    .search-bar{
        max-width: 1200px;
        margin: auto;
        width: 100%;
        // padding: 20px;
        margin: 20px 0;
        background: #2c2c2c;
        border: 1.5px solid yellow;
        input{
            width: 100%;
            padding: 20px;
            background: none;
            border: none;
            outline: none;
            font-family: inherit;
            font-size: 16px;
            color: white;
            &::placeholder{
                color: white;
            }
        }
    }
    .search-con{
        max-width: 1200px;
        margin: auto;
        margin: 15px;
        display: grid;
        gap: 15px;
        grid-template-columns: 300px 435px 1fr;
        @media(max-width: 1200px){
            grid-template-columns: 300px 435px;
        }
        @media(max-width: 780px){
            grid-template-columns: 100%;
        }
        .image-block-container{
            .image-block{
                width: 300px;
                @media(max-width: 780px){
                    width: 100%;
                }
                height: 230px;
                position: relative;
                margin: 15px 0;
                background-size: cover;
                background-position: center;
                &>div{
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: rgba(0,0,0,0.5);
                    padding: 10px;
                    span.category{
                        background-color: yellow;
                        border-bottom-right-radius: 10px;
                        padding: 3px 10px;
                        display: inline-block;
                    }
                    .foot-sec{
                        position: absolute;
                        bottom: 10px;
                        h1{
                            color: white;
                            font-size: 18px;
                            margin: 0;
                        }
                        span.date{
                            color: white;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        .big-block-container{
            .big-block{
                width: 435px;
                @media(max-width: 780px){
                    width: 100%;
                }
                background-color: #222;
                margin: 15px 0;
                position: relative;
                span.category{
                    background-color: yellow;
                    border-bottom-right-radius: 10px;
                    padding: 3px 10px;
                    display: inline-block;
                    position: absolute;
                    top: 15px;
                    left: 15px;
                }
                &>img{
                    width: 100%;
                    display: block;
                }
                .foot-sec{
                    display: flex;
                    padding: 15px;
                    &>div:first-of-type{
                        flex: 1;
                        h1{
                            color: white;
                            font-size: 18px;
                            margin: 0;
                        }
                        span{
                            color: white;
                            font-size: 12px;
                        }
                    }
                    &>div:last-of-type{
                        width: 60px;
                        text-align: right;
                        img{
                            width: 50px;
                            height: 50px;
                            border-radius: 50px;
                            border: 2px solid yellow;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
        .text-block-container{
            @media(max-width: 1200px){
                grid-column: span 2;
            }
            @media(max-width: 780px){
                grid-column: span 1;
            }
            .text-block{
                padding: 15px;
                margin: 15px 0;
                background-color: #222;
                h1{
                    color: white;
                    font-size: 18px;
                    margin: 0 0 10px 0;
                }
                p{
                    color: white;
                    font-size: 16px;
                    margin: 0;
                    img{
                        width: 145px;
                        height: 100px;
                        float: left;
                        margin: 0 15px 5px 0;
                    }
                }
                div{
                    clear: both;
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    margin-top: 15px;
                    img{
                        width: 50px;
                        height: 50px;
                        border-radius: 50px;
                        border: 2px solid yellow;
                        object-fit: cover;
                    }
                    span:first-of-type{
                        color: white;
                        font-size: 12px
                    }
                    span:last-of-type{
                        color: yellow;
                        font-weight: bold;
                        font-size: 13px
                    }
                }
            }
        }
    }
}